@font-face {
    font-family: 'Mumblers Demo';
    src: url('./fontes/mumblers_demo-webfont.woff2') format('woff2'), url('./fontes/mumblers_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

